/**
 * Colors are defined in a shared file in variables to ensure that everywhere is using the right ones.
 *
 * Colors need to meet w3c contrast guidelines based on luminosity. The color contrast is determined by the formula
 * (L1 + 0.05) / (L2 + 0.05) where L1 is the relative luminance of the lighter of the colors and L2 is the
 * relative luminance of the darker of the colors.
 *
 * I prefer using a color grading system similar to the U.S. Web Design System (USWDS) because it makes a11y easy when
 * you can just get the difference between two grades. More info on colors in the USWDS here:
 * https://designsystem.digital.gov/utilities/color/
 *
 * If I'm using a brand color and I need the grade I'll contrast it against white and use my cheat sheet for an
 * approximation. You can see my cheat sheet at (https://cutt.ly/VkhnNqg)
 *
 * But sometimes you've just gotta check the contrast for WCAG AA rating and use what you're given.
*/

$green: #01FDAB;
$blue: #0262f0;
$dark-blue: #010203;

$text-color: #081523;
$gradient-dark-start: #091523;
$gradient-dark-end: #0E253F;

@mixin foundation-light {
  background: $white;
  color: $black;
}

@mixin foundation-dark {
  background: $foundation-dark;
  color: $white;
}

@mixin foundation-black {
  background: $black;
  color: $white;
}

@mixin foundation-dark-gradient {
  background: $foundation-dark;
  background: linear-gradient(135deg, $foundation-dark 0%, $foundation-dark-2 100%);
  color: $white;
}