@use 'shared/breakpoints';
@use 'shared/colors';
@use 'shared/metrics';

:root {

  @media screen and (max-width: breakpoints.$extra-wide) {
    --header-gutter-top: 24px;

  }
  @media screen and (min-width: breakpoints.$extra-wide) {
    --header-gutter-top: 56px;
  }
  @media screen and (min-width: breakpoints.$ultra-wide) {

  }
}

#header {
  position: absolute;
  height: var(--header-height);
  width: 100%;
  background: linear-gradient(to bottom, #{rgba(colors.$dark-blue, 0.4)} 0%, #{rgba(colors.$dark-blue, 0.2)}  60%, #{rgba(colors.$gradient-dark-start, 0)} 90%);
  z-index: 10;
}

.header-wrapper {
  width: 100%;
  max-width: var(--content-constrain-width);
  margin: auto;
}

.header-content {
  padding-top: var(--header-gutter-top);
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;

  @media screen and (max-width: breakpoints.$extra-wide) {
    margin: 0 metrics.safe-area-right() 0 metrics.safe-area-left();
  }
  @media screen and (min-width: breakpoints.$extra-wide) {
    margin: 0 var(--global-gutter-and-half) 0 var(--global-gutter-and-half);
  }
}

#logo {
  display: inline-block;
  height: var(--header-logo-height);

  img {
    height: 100%;
    object-fit: contain;
  }
}